<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconapk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapk"
        android:supportsRtl="true"
        android:theme="@style/Theme.IKIKASIR">
        <activity
            android:name=".screens.penjualan.DetailTransaksiActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_transaksi"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".screens.splash.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.IKIKASIR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.auth.presentation.screen.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".screens.produk.TambahProdukActivity"
            android:exported="false"
            android:label="@string/title_activity_tambah_produk"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".screens.kategori.TambahKategoriActivity"
            android:exported="false"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".screens.barangrusak.TambahRusakExpActivity"
            android:exported="false"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".screens.manajemenpengguna.TambahPenggunaActivity"
            android:exported="false"
            android:theme="@style/Theme.IKIKASIR" />
        <activity
            android:name=".screens.promo.TambahPromoActivity"
            android:exported="false"
            android:theme="@style/Theme.IKIKASIR" />
    </application>

</manifest>